license="${mod_license}"

[[mods]]

modId="${mod_id}"

version="${mod_version}"

displayName="${mod_name}" #mandatory

authors="${mod_authors}" #optional

description='''${mod_description}'''

[[dependencies.${mod_id}]] #optional

    modId="neoforge"

    type="required"

    versionRange="[${neo_version},)"

    ordering="NONE"

    side="BOTH"

[[dependencies.${mod_id}]]
    modId="minecraft"
    type="required"
    versionRange="${minecraft_version_range}"
    ordering="NONE"
    side="BOTH"

